@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

@layer base {
  .light ::-webkit-scrollbar-track {
    background-color: #f7f2f5;
  }

  .light ::-webkit-scrollbar-thumb {
    background-color: #5d0560;
    border-radius: 2rem;
  }

  .light ::-webkit-scrollbar-track:hover {
    background-color: #f7f2f5;
  }

  .light ::-webkit-scrollbar-thumb:hover {
    background-color: #5d0560;
  }

  .dark ::-webkit-scrollbar-track {
    background-color: #0b0b0b;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #f0b6fe;
    border-radius: 2rem;
  }

  .dark ::-webkit-scrollbar-track:hover {
    background-color: #0b0b0b;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: #f0b6fe;
  }

  .light .shadow-2xl-light {
    --tw-shadow: 25px 25px 50px -12px #5d05604e;
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark .shadow-2xl-dark {
    --tw-shadow: 25px 25px 50px -12px #f0b6fe4e;
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  @media (max-width: 640px) {
    .light .shadow-2xl-light {
      --tw-shadow: 15px 15px 30px -6px #5d05604e;
      --tw-shadow-colored: 0 15px 30px -6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .dark .shadow-2xl-dark {
      --tw-shadow: 15px 15px 30px -6px #f0b6fe4e;
      --tw-shadow-colored: 0 15px 30px -6px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  }
}

.drop-shadow-light {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.dark\:drop-shadow-md-dark {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgba(256, 256, 256, 0.07))
    drop-shadow(0 2px 2px rgba(256, 256, 256, 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
